.wp-post {
    font-size: var(--chakra-fontSizes-xl);
    line-height: 1.6;
}

.wp-post p, .wp-post h2 {
    margin-top: var(--chakra-sizes-4);
    margin-bottom: var(--chakra-sizes-4);
}

.wp-post h2 {
    margin-top: var(--chakra-sizes-8);
    font-weight: 300;
    font-size: 1.75rem;
}

.wp-post a {
    color: var(--chakra-colors-themeGreen-500)
}

.wp-post a:hover {
    text-decoration: underline;
}
.wp-post > ul {
    margin-left: 2em;
}

.wp-post ul ul {
    margin-left: 2em;
}
.wp-post ul ul ul {
    margin-left: 2em;
}

.wp-post ul ul ul ul {
    margin-left: 2em;
}

.wp-post ul ul ul ul ul {
    margin-left: 2em;
}
